<!DOCTYPE html>
<html>
  <head>
    <title>HealthifyCodeChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/header' %>

      <% if notice.present? %><p class="notice"><%= notice %></p><% end %>
      <% if alert.present? %><p class="alert"><%= alert %></p><% end %>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
